<p class="ml-7">{% if new_name %}père {%else%}Monsieur l’abbé {% endif %}Grégoire Oliveira Silva
<p class="ml-7 ltr">
    Fraternité Saint Étienne<br>
    20 rue du Palais de Justice<br>
    77120 Coulommiers
</p>