<p>
    Le Christ est crucifié et des anges récupèrent le sang qui coule de ses plaies. De son thorax coule également de l’eau.
</p>
<p>
    La Bienheureuse Vierge Marie et Saint Jean se tiennent à ses côtés : ce sont les seuls qui sont restés avec lui jusqu’au bout.
</p>
<p>
    L’inscription en hébreu indique « J’ai soif » (Jn 19, 28) : il s’agit d’une des dernières paroles de Jésus avant de mourir.
</p>
<p>
    Au-delà de la soif physique, cela désigne la soif spirituelle. Jésus désire retrouver Dieu le Père, maintenant que sa mission est accomplie. Il s’agit également de notre propre soif de Dieu. Quel désir avons-nous de lui ?
</p>
