<p>
    צליבה של ישוע, מרים הבתולה ויוחנן הקדוש עומדים לידו.
</p>
<p class="ltr">
    Christ is crucified and angels collect the blood flowing from his wounds. From his chest also flows water.
</p>
<p class="ltr">
    The Blessed Virgin Mary and Saint John stand at his side: they are the only ones who have remained with him until the end.
</p>
<p class="ltr">
    The Hebrew inscription reads "I thirst" (Jn 19:28): this is one of Jesus's last words before he died.
</p>
<p class="ltr">
    Beyond physical thirst, this means spiritual thirst. Jesus desires to find God the Father, now that his mission is accomplished. It is also about our own thirst for God. What desire do we have of him?
</p>