<section class="container bg-light mb-3 ltr">
    <h1>Informations pratiques</h1>
    {# <p class="text-center text-bold text-big bg-orange white">
        L’accueil des fidèles sera soumis aux respects des consignes sanitaires en vigueurs le 26 juin 2022.
    </p> #}
    <h3 class="text-center">
        Les ordinations débutant à 15&nbsp;h&nbsp;30, je vous conseille de venir en avance pour trouver une bonne place.
    </h3>

    <p class="text-right">
        <em><u>Prêtres et diacres&nbsp;:</u> ornements blancs</em>
    </p>

    <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/ordination-sacerdotale_120643?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.9592/2.8781"></iframe>
    <p class="text-right"><a href="https://framacarte.org/fr/map/ordination-sacerdotale_120643" target="_blank">{{ 'fullscreen'|trans({}, 'base') }}</a></p>

    <h3 class="text-center">Des bus seront mis en place pour se rendre à la cathédrale</h3>
    <h4>Au départ de Melun</h4>
    <p>
        Pour plus d’informations et pour réserver votre place, contacter la paroisse de Melun au <a href="tel:+33164522652">01&nbsp;64&nbsp;52&nbsp;26&nbsp;52</a>
        ou par mail <a href="mailto:secretariat@meluncatholique.fr">secretariat@meluncatholique.fr</a>
        <em>(Une participation financière de 10&nbsp;€ vous sera demandée à l’inscription)</em>
    </p>
    <h4>Au départ de Coulommiers</h4>
    <p>
        Pour plus d’informations et pour réserver votre place, contacter la paroisse de Coulommiers par mail
        <a href="mailto:secretariat@cathocoulommiers.fr">secretariat@cathocoulommiers.fr</a>
        <em>(Une participation financière de 10&nbsp;€ vous sera demandée à l’inscription)</em> ou directement sur
        le <a href="https://public.enoria.app/pubinsc/event/d73c7245cf50ade/open" target="_blank">formulaire en ligne</a>.
    </p>
</section>