<section class="container bg-light mb-3 ltr">
    <h1>Informations</h1>
    {# <p class="text-center text-bold text-big bg-orange white">
        The celebration will take place according to the health regulations.
    </p> #}
    <h3 class="text-center">
        The ordinations begin at 3:30 p.m., I advise you to come in advance to find a good place.
    </h3>
    <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/ordination-sacerdotale_120643?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.9592/2.8781"></iframe>
    <p class="text-right"><a href="https://framacarte.org/fr/map/ordination-sacerdotale_120643" target="_blank">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
    <p>
        Buses will be set up between Melun and the cathedral to get to the ordination. For more information and for reservation you can
        call the parish of Melun by phone <a href="tel:+33164522652">+33&nbsp;1&nbsp;64&nbsp;52&nbsp;26&nbsp;52</a> or by email <a href="mailto:secretariat@meluncatholique.fr">secretariat@meluncatholique.fr</a>
    </p>
    {# <p>
        Buses also will be set up between Melun and the cathedral to get to the ordination. For more information and for reservation you can
        call the parish of Coulommiers by email <a href="mailto:paroisse77120@gmail.com">paroisse77120@gmail.com</a>
    </p> #}
    <p class="text-center">
        The celebration will be broadcast live on the <a href="https://www.youtube.com/user/newsletter77adm">YouTube channel of the Diocese of Meaux</a>.
    </p>
</section>