<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/withBishop.jpg" alt="Avec mon évêque">
    </div>
    <div class="lg:col-span-2">
        <h2>My vocation</h2>
        <p>
            I'm Grégoire Oliveira Silva, born in 1989, I'm a seminarian for the diocese of <a href="http://www.catho77.fr/">Meaux</a> (France)
            and a member of the <a href="https://www.fraternite-saint-etienne.fr/">Fraternity of Saint Etienne</a>.
        </p>
        <p>
            Although I was baptized as a baby, I did not receive religious education at a younger age and even became very anti-clerical.
            In 2010, I had the grace to meet the Lord by following a friend who led me to a church. A few months later, the Lord challenged
            me with this question: "Why don't you become a priest?". Having matured this question, I entered into a spiritual foundation,
            sent by my diocese, to the <a href="http://seminaireversailles.fr/seminaire-de-versailles/la-maison-saint-jean-baptiste/une-annee-de-fondation-spirituelle/">Maison Saint Jean-Baptiste</a>
            in September 2012.
        </p>
    </div>
</article>

<article>
    <h2>Become a priest</h2>
    <p>
        Minimum of 7 years are needed to become priest. We are working for four pillars: human, spiritual, intellectual and pastoral formation.
    </p>
    <p>
        Usually, these are the stages of formation:
    </p>
    <ul>
        <li>1 year of spiritual foundation</li>
        <li>2 years of philosophy cycle </li>
        <li>3 years of theology cycle</li>
        <li>1 year as a deacon in a parish</li>
    </ul>

    <div class="lg:grid lg:grid-cols-2 lg:gap-3">
        <img src="/images/acolytat.jpg" alt="Institution à l'acolytat" class="img-left mb-3">
        <img src="/images/notreDame.jpg" alt="L'acolytat">
    </div>

    <p>
        Four stages punctuate this formation:
    </p>
    <ul>
        <li>Admission as a candidate for the priesthood where the Church publicly recognizes for the first time our vocation</li>
        <li>The institution for the readership</li>
        <li>The institution for the acolyte</li>
        <li>The diaconal ordination</li>
    </ul>
</article>

<article class="lg:grid lg:grid-cols-3 lg:gap-3">
    <div>
        <img src="/images/center.jpg" alt="Centre Sainte Rachel Jérusalem">
    </div>
    <div class="lg:col-span-2">
        <h2>My formation</h2>
        <p>
            I have a more atypical formation, with a few bonus years.
        </p>
        <ul>
            <li>my year of spiritual foundation at the Maison Saint Jean-Baptiste in Versailles (France)</li>
            <li>a year of pastoral internship in the Missionary Pole of Provins (France)</li>
            <li>2 years of philosophy cycle at the <a href="https://www.studiumdenotredamedevie.org">Studium of Notre Dame de Vie</a> in Saint Didier in the Vaucluse (France)</li>
            <li>an inter-cycle year in study mission in the same place</li>
            <li>2  years of study at the <a href="http://www.ebaf.edu">French Biblical and Archaeological School</a> and mission with the
                <a href="http://catholic.co.il">Vicariate of Saint-Jacques</a> for Hebrew-speaking Catholics, in Jerusalem</li>
            <li>2  years of pastoral internship in the Missionary Pole of Melun (France) with intellectual formation in the
                <a href="https://www.collegedesbernardins.fr/">Collège des Bernardins</a> (Paris)</li>
            <li>one year of diaconal internship in the <a href="https://www.polecoulommiers.catholique.fr/">Missionary Pole of Coulommiers</a>.</li>
        </ul>
    </div>
</article>

<article>
    <h2>Deacon</h2>
    <p>
        By diaconal ordination, those who prepare for the priesthood are marked with an indelible imprint which configures them to Christ the servant
        and manifests to all the humble and helpful love of Jesus Christ who
    </p>
    <blockquote>
        <p>
            <em>“did not come to be served but to serve and to give his life as a ransom for many”</em>
            (Mark 10:45)
        </p>
    </blockquote>
    <p>
        He receives the task of assisting the priest during the liturgy, of proclaiming the Gospel and of preaching,
        of celebrating baptisms and blessing marriages, of distributing the Eucharist and taking it to the sick,
        of presiding over the prayer of faithful and at funerals, with particular concern for the poor and the most fragile.
    </p>
    <p>
        On the day of his ordination, the deacon undertakes to pray the Liturgy of the Hours for the Church and for the
        world, to remain in communion with his bishop and his successors, and in view of the priesthood, to live celibacy
        for the service of God and of men.
    </p>
    <p>
        I was ordained a deacon on June 20, 2021 and then sent on internship in the
        <a href="https://www.polecoulommiers.catholique.fr/">Missionary Pole of Coulommiers</a>.
    </p>
    <p class="text-center">
        <img src="/images/diaconat.jpg" alt="Ordination diaconale">
    </p>
</article>

<article>
    <h2>Priest</h2>
    <p>
        2022 will be the year that will mark the end of my formation with my priestly ordination.
    </p>
    <p>
        Configured to Christ the Priest, I could now celebrate Mass and confess.
    </p>
    <p>
        The candidate promise to the Bishop that he is willing to take on the priesthood and to serve the people in
        communion with his Bishop and his successor. He commits to preach the Gospel and to keep the deposit of the
        apostolic faith. He promises to stay committed to prayer, and to obey to his superiors.
    </p>
</article>
