{% extends 'base.html.twig' %}
{% trans_default_domain 'masses' %}
{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <main class="ltr">
        <header id="main-header" class="hero">
            <h1>{{ 'title'|trans }}</h1>
        </header>

        <section class="container p-4 text-center  bg-light">
            {% if app.request.getLocale() == 'he' %}
            <article>
                <h3 class="text-center bg-orange">
                    {{ 'no-translated'|trans({}, 'base') }}
                </h3>
            </article>
            {% endif %}

            <article>
                <p class="text-center text-big">
                    <strong>{{ 'explanation'|trans }}</strong>
                </p>
            </article>

            <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/premieres-messes_124034?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#9/48.6991/3.0020"></iframe>
            <p class="text-right"><a href="https://framacarte.org/fr/map/premieres-messes_124034" target="_blank">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
        </section>

        <section class="container mt-4 masses-list grid md:grid-cols-2 lg:grid-cols-2 gap-4">
            {% for mass in masses %}
            <article>
                <h4>{{ mass.datetime|format_datetime('full', 'short')|capitalize }}</h4>
                <p class="text-center">
                    <strong>{{ ('mass-'~mass.id~'.name')|trans }}</strong>
                </p>
                <p class="text-center">
                    <img src="{{ asset('images/masses/mass-'~mass.id~'.jpg') }}" alt="">
                </p>
                <p>
                    {{ ('mass-'~mass.id~'.address')|trans }}
                </p>
                <p>
                   {{ ('mass-'~mass.id~'.description')|trans }}
                </p>
            </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}