{% trans_default_domain 'content' %}
{% extends 'base.html.twig' %}

{% block body %}
    <header id="main-header" class="hero">
        <div>
            <h1>{{ 'main-title'|trans }}</h1>
            <p class="container">{{ ordination_date|format_datetime('full', 'short') }}</p>
            <p class="container">{{ 'location'|trans }}</p>
        </div>
    </header>

    <main>
        {% if success %}
        <section class="bg-success pl-3 pr-3 pt-3 pb-3">
            <h3 class="text-center">{{ 'newsletter.success'|trans }}</h3>
        </section>
        {% elseif error %}
        <section class="bg-error pl-3 pr-3 pt-3 pb-3">
            <h3 class="text-center">{{ 'newsletter.error'|trans }}</h3>
        </section>
        {% endif %}

        <section id="img-ordination">
            <img src="{{ asset('build/images/imageOrdinationSacerdotale.jpg') }}" alt="Image ordinatione">
            <legend>
                {{ 'image-legend'|trans }}
                <p class="mt-2 text-center">
                    <button id="open-image-explanation" class="btn"><i class="fa fa-align-left"></i> {{ 'image-explanation-open'|trans }}</button>
                </p>
            </legend>
            <div id="image-explanation" class="container p-2">
                <img src="/images/imageOrdinationSacerdotale.png" alt="Image ordination">
                {% if app.request.getLocale() == 'fr' %}
                    {% include 'home/_image-explanation-fr.html.twig' %}
                {% elseif app.request.getLocale() == 'he' %}
                    {% include 'home/_image-explanation-he.html.twig' %}
                {% else %}
                    {% include 'home/_image-explanation-en.html.twig' %}
                {% endif %}
                <p class="text-center">
                    <button id="close-image-explanation" class="btn"><i class="fa fa-times"></i> {{ 'image-explanation-close'|trans }}</button>
                </p>
            </div>
        </section>

        <div class="countdown">
            <h2>{{ 'countdown.message'|trans }}</h2>
            <div class="countdown-number" id="countdown-ordination" data-time="{{ ordination_date }}">
                <p class="grid grid-cols-4">
                    <span class="countdown-days"><span></span> :</span>
                    <span class="countdown-hours"><span></span> :</span>
                    <span class="countdown-minutes"><span></span> :</span>
                    <span class="countdown-seconds"><span></span></span>
                    <span class="countdown-number-label">{{ 'countdown.days'|trans }}</span>
                    <span class="countdown-number-label">{{ 'countdown.hours'|trans }}</span>
                    <span class="countdown-number-label">{{ 'countdown.minutes'|trans }}</span>
                    <span class="countdown-number-label">{{ 'countdown.seconds'|trans }}</span>
                </p>
            </div>
        </div>

        {% include '_youtubeVideo.html.twig' %}

        <section class="bg-blue">
            <div class="grid lg:grid-cols-2 text-center">
                <div class="p-4">
                    <h2>{{ 'newsletter.title'|trans }}</h2>
                    <p class="text-center ml-4 mr-4">{{ 'newsletter.text'|trans }}</p>
                    {{ form_start(form) }}
                    <div id="form-newsletter" class="grid lg:grid-cols-2 gap-2 text-right align-items-center sm:grid-cols-1">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        <div class="col-span-2 text-center">
                            <button class="btn btn-success">{{ 'newsletter.button'|trans }}</button>
                        </div>
                    </div>
                    {{  form_end(form) }}
                </div>
                <div class="p-4 grid grid-1">
                    <h2>{{ 'download'|trans }}</h2>
                    <p class="text-center">
                        <a href="/docs/faire-partFinal.pdf" target="_blank" class="btn"><i class="fa fa-file-download"></i> {{ 'french'|trans }}</a>
                    </p>
                    <h2>{{ 'diocese-website.title'|trans }}</h2>
                    <p class="text-center">
                        <a href="http://www.catho77.fr/spip.php?rubrique4943" target="_blank" class="btn"><i class="fa fa-external-link-alt"></i> {{ 'diocese-website.link'|trans }}</a>
                    </p>
                </div>
            </div>
        </section>

        {% if prayer_show %}
        <section id="prayer">
            <div class="container p-4 text-center">
                <h2>{{ 'prayer.title'|trans }}</h2>
                <p>
                    {{ 'prayer.intro'|trans }}
                </p>
                <p>
                    {{ 'prayer.date-where'|trans({datetime: prayer_date|format_datetime('full', 'short')})|raw }}
                </p>
                <p>
                    {{ 'prayer.what'|trans }}
                </p>
                <p>
                    <strong>{{ 'prayer.invitation'|trans|raw }}</strong>
                </p>
                <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/veillee-de-priere_127206?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.8180/3.0900"></iframe>
                <p class="text-right"><a href="https://framacarte.org/fr/map/veillee-de-priere_127206" target="_blank">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
            </div>
        </section>
        {% endif %}

        {% if new_name %}
            <section id="nomination">
                <article class="container">
                    <h2>{{ 'nomination.title'|trans }}</h2>
                    <p class="text-center text-bold">
                        {{ 'nomination.intro'|trans }}
                    </p>
                    <div class="md:flex justify-around align-items-center">
                        <div>
                            <p>
                                {{ 'nomination.address'|trans }}
                            </p>
                            {% include 'home/_address-new.html.twig' %}
                        </div>
                        <div class="text-center">
                            <a href="https://www.polecoulommiers.catholique.fr/" class="btn" target="_blank">
                                <i class="fa fa-external-link-alt"></i> {{ 'nomination.link'|trans }}
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        {% endif %}

        {% if album_id != 'null' or cloud_id != 'null' %}
        <section id="photos">
            <article class="container">
                {% if album_id != 'null' %}
                <a href="https://www.flickr.com/photos/125782871@N04/albums/{{ album_id }}" class="btn m-1" target="_blank">
                    <i class="fa fa-images"></i> {{ 'photos.show-flickr'|trans }}
                </a>
                {% endif %}
                {% if cloud_id != 'null' %}
                <a href="https://cloud.theo-net.org/s/{{ cloud_id }}" class="btn m-1" target="_blank">
                    <i class="fa fa-images"></i> {{ 'photos.show-cloud'|trans }}
                </a>
                {% endif %}
            </article>
        </section>
        {% endif %}

        {% if diaconal_link != 'null' %}
        <section id="diaconal_link">
            <article class="container">
                <a href="{{ diaconal_link }}" class="btn">
                    <i class="fa fa-external-link-alt"></i> {{ 'Diaconal link'|trans({}, 'base') }}
                </a>
            </article>
        </section>
        {% endif %}
    </main>
{% endblock %}