{% extends 'base.html.twig' %}
{% block title %}{{ 'Mentions légales'|trans({}, 'base') }}{% endblock %}

{% block body %}
    <main class="ltr">
        <header id="main-header" class="hero">
            <h1>{{ 'Mentions légales'|trans({}, 'base') }}</h1>
        </header>

        <section class="container bg-light">
            <article>
                <h2>Directeur de la publication</h2>
                {% if new_address %}
                    {% include 'home/_address-new.html.twig' %}
                {% else %}
                    {% include 'home/_address-old.html.twig' %}
                {% endif %}
            </article>
            <article>
                <h2>Hébergeur</h2>
                <p>L’intégralité du site est hébergé sur un VPS fourni par
                    <a href="https://www.pulseheberg.com/" target="_blank" data-bcup-haslogintext="no">PulseHeberg</a>.</p>
                <p class="ml-7">SAS PulseHeberg<br>
                    55 avenue des champs Pierreux<br>
                    92012 Nanterre Cedex</p>
            </article>
        </section>
    </main>
{% endblock %}