{% extends 'base.html.twig' %}
{% block title %}{{ 'ordination'|trans({}, 'base') }}{% endblock %}

{% block body %}
    <main>
        <header id="main-header" class="hero">
            <h1>{{ 'ordination'|trans({}, 'base') }}</h1>
        </header>

        {% if app.request.getLocale() == 'he' %}
        <article class="container bg-orange mt-3 white">
            <p class="text-center text-big text-bold">
                {{ 'no-translated'|trans({}, 'base') }}
            </p>
        </article>
        {% endif %}

        {% if app.request.getLocale() == 'fr' %}
            {% include 'home/_ordinationInfo-fr.html.twig' %}
        {% else %}
            {% include 'home/_ordinationInfo-en.html.twig' %}
        {% endif %}

        {% include '_youtubeVideo.html.twig' %}

        <section class="mt-3 container bg-light ltr">
            {% if app.request.getLocale() == 'en' %}
                <article class="bg-orange white">
                    <p class="text-center text-big text-bold">
                        {{ 'no-translated'|trans({}, 'base') }}
                    </p>
                </article>
            {% endif %}

            <h1>Déroulement</h1>
            <p>
                L’ordination d’un prêtre est un grand évènement pour un diocèse. C’est pourquoi les chrétiens sont tous
                invités à se rendre à cette célébration.
            </p>
            <p class="text-center">
                <em>
                    Les photos sont celles de l’ordination sacerdotale du père Wilimstrong Borgella (© ADM)
                </em>
            </p>
            <div class="p-2 bg-success text-center">
                <p>
                    Cette année, en plus de nos ordinations sacerdotales, aura lieu l’ordination diaconale d’un diacre en vue du sacerdoce.
                    Vous pouvez consulter le site web de mon ordination diaconale pour revoir les éléments propres au diaconat.
                </p>
                <p>
                    <a href="{{ diaconal_link }}ordination" class="btn" target="_blank">
                        <i class="fa fa-external-link-alt"></i> {{ 'Diaconal link'|trans({}, 'base') }}
                    </a>
                </p>
            </div>
            <h2 class="text-center">
                Présentation des candidats
            </h2>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2 text-center">
                    <img src="/images/ordination/ordination1.jpg" alt="Présentation des candidats">
                </div>
                <div>
                    <p>
                        La célébration débute par une grande procession d’entrée composée de nombreux servants d’autel, des séminaristes, des diacres, des prêtres et bien
                        sûr de l’évêque. C’est ce dernier qui a le pouvoir d’ordonner un homme. C’est à lui que l’Église confie un diocèse, il en est le pasteur.
                    </p>
                    <p>
                        Après un mot d’accueil, ceux qui vont être ordonnés au presbytérat sont appelés et l’évêque interroge leur responsable pour savoir s’ils
                        ont les capacités requises.
                    </p>
                </div>
            </div>

            <h2 class="text-center">
                Liturgie de la Parole
            </h2>
            <p>
                Ensuite, nous écoutons la Parole de Dieu à partir de lectures extraites de la Bible. À partir d’elles, l’évêque donnera son homélie
                pour nous aider à comprendre ces lectures, mais aussi le sens du presbytérat.
            </p>

            <h2 class="text-center">
                Liturgie de l’ordination
            </h2>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2 text-center">
                    <img src="/images/ordination/ordination2.jpg" alt="Litanie des saints">
                </div>
                <div>
                    <h3>
                        Engagement des ordinands
                    </h3>
                    <p>
                        Tout d’abord, les ordinands, devant l’évêque et les fidèles rassemblés, exprimeront leur volonté d’exercer leur charge en conformité
                        avec la pensée du Christ et de l’Église, sous la conduite de l’évêque en devenant ses collaborateurs.
                    </p>

                    <h3>
                        Litanie des saints
                    </h3>
                    <p>
                        Ce moment est souvent vêcu comme un des plus forts de la célébration&nbsp;: on invoque tous les saints pour qu’ils viennent par leur prière
                        soutenir l’Église et les futurs prêtres. Durant cette supplication, les ordinands sont allongés à plat ventre, prostrés en signe de leur
                        totale soumission à Dieu et à sa volonté.
                    </p>
                </div>

            </div>

            <h3 class="text-center">
                La prière d’ordination
            </h3>
            <p>
                L’évêque impose ses mains sur la têtes des ordinands avant de dire une longue prière. C’est par ce geste et ces paroles que ces hommes
                deviennent prêtres.
            </p>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div>
                    <img src="/images/ordination/ordination3.jpg" alt="Imposition des mains">
                </div>
                <blockquote class="lg:col-span-2">
                    <p>
                        Sois avec nous, Seigneur, Père très saint,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;sois avec nous, Dieu éternel et tout-puissant,<br>
                        Toi qui fondes la dignité de la personne humaine<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et qui répartis toutes grâces,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;toi, la source de toute vie et de toute croissance.
                    </p><p>
                        Pour former le peuple sacerdotal,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu suscites en lui, par la force de l’Esprit Saint,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et selon les divers ordres,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;les ministres de Jésus, le Christ, ton Fils bien-aimé.
                    </p><p>
                        Déjà, dans la première Alliance,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;des fonctions sacrées préparaient les ministères à venir.<br>
                        Tu avais mis à la tête du peuple Moïse et Aaron,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;chargés de le conduire et de le sanctifier&nbsp;;<br>
                        tu avais choisi des hommes,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;d’un autre ordre et d’un autre rang,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour les seconder dans leur tâche.<br>
                        C’est ainsi que, pendant la marche au désert,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu as communiqué l’esprit donné à Moïse<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;aux soixante-dix hommes pleins de sagesse<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui devaient l’aider à gouverner ton peuple.<br>
                        C’est ainsi que tu as étendu aux fils d’Aaron<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;la consécration que leur père avait reçue,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour que des prêtres selon la Loi<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;soient chargés d’offrir des sacrifices<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui étaient l’ébauche des biens à venir.
                    </p><p>
                        Mais, en ces temps qui sont les derniers, Père très saint,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;tu as envoyé dans le monde ton Fils Jésus,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;l’Apôtre et le Grand Prêtre que notre foi confesse.<br>
                        Par l’Esprit Saint, il s’est offert lui-même à toi<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;comme une victime sans tache;<br>
                        il a fait participer à sa mission<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;ses Apôtres consacrés dans la vérité,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et tu leur as donné des compagnons<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour que l’œuvre du salut<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;soit annoncée et accomplie dans le monde entier.
                    </p><p>
                        Aujourd’hui encore, Seigneur,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;viens en aide à notre faiblesse&nbsp;:<br>
                        accorde-nous les coopérateurs dont nous avons besoin<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour exercer le sacerdoce apostolique.
                    </p><p>
                        <em>Nous t’en prions, Père tout-puissant,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;donne à tes serviteurs que voici<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;d’entrer dans l’ordre des prêtres&nbsp;;<br>
                        Répands une nouvelle fois au plus profond d’eux-mêmes<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;l’Esprit de sainteté;<br>
                        Qu’ils reçoivent de toi, Seigneur,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;la charge de seconder l’ordre épiscopal&nbsp;;<br>
                        Qu’ils incitent à la pureté des mœurs<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;par l’exemple de leur conduite.</em><br>
                        Qu’ils soient de vrais collaborateurs des évêques<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour que le message de l’Évangile,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;par leur prédication avec la grâce de l’Esprit Saint,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;porte du fruit dans les cœurs<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et parvienne jusqu’aux extrémités de la terre.<br>
                        Qu’ils soient avec nous<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;de fidèles intendants de tes mystères,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour que ton peuple<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;soit régénéré par le bain de la nouvelle naissance<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et reprenne des forces à ton autel,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour que les pécheurs soient réconciliés,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et les malades, relevés.
                    </p><p>
                        En communion avec nous, Seigneur,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qu’ils implorent ta miséricorde<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pour le peuple qui leur est confié<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et pour l’humanité tout entière.<br>
                        Alors toutes les nations, rassemblées dans le Christ,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;seront transformées en l’unique peuple qui t’appartient<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;et qui trouvera son achèvement dans ton Royaume.
                    </p><p>
                        Par Jésus Christ, ton Fils, notre Seigneur et notre Dieu,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;qui règne avec toi et le Saint-Esprit,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;maintenant et pour les siècles des siècles.
                    </p>
                </blockquote>
            </div>

            <h3 class="text-center">
                Rites complémentaires
            </h3>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2">
                    <img src="/images/ordination/ordination4.jpg" alt="Complément">
                </div>
                <div>
                    <p>
                        Viennent ensuite trois actions qui signifient à tous que les deux ordinands sont maintenant ordonnés et donc prêtres&nbsp;:
                    </p>
                    <p>
                        Ils sont vêtus de l’étole et de la chasuble. La première sera portée à chaque fois qu’ils accompliront leur ministère.
                        La deuxième est revêtue à la messe.
                    </p>
                    <p>
                        Ensuite, l’évêque répand dans les paumes des mains du nouveau prêtre l’huile sainte, mêlée de parfum que l’on appelle le
                        saint Chrême. Cette onction signifie le don de l’Esprit-Saint qui fortifie le prêtre «&nbsp;pour sanctifier le peuple chrétien&nbsp;».
                    </p>
                    <p>
                        Enfin, on leur remet la patène et le calice avec le pain et le vin qui deviendront le Corps et le Sang du Christ.
                    </p>
                </div>
            </div>


            <h3 class="text-center">
                Liturgie eucharistique
            </h3>
            <div class="lg:grid lg:grid-cols-3 lg:gap-3">
                <div class="lg:col-span-2">
                    <img src="/images/ordination/ordination5.jpg" alt="Doxologie">
                </div>
                <p>
                    La messe se poursuit comme d’habitude, mais les nouveaux prêtres accomplissent leur nouveau ministère en concélébrant
                    avec l’évêque et les autres prêtres.
                </p>
            </div>
        </section>
    </main>
{% endblock %}