{% extends 'base.html.twig' %}
{% block title %}{{ 'reception'|trans({}, 'base') }}{% endblock %}

{% block body %}
 <main>
    <header id="main-header" class="hero">
        <h1>{{ 'reception'|trans({}, 'base') }}</h1>
    </header>

    {% if app.request.getLocale() != 'fr' %}
        <article class="container bg-orange mt-3">
            <p class="text-center text-big bg-orange white">
                <strong>{{ 'no-translated'|trans({}, 'base') }}</strong>
            </p>
        </article>
    {% endif %}

     <section class="container bg-success p-3 mt-3 ltr">
         <p class="text-center text-big text-bold">
            J’espère pouvoir partager avec vous un moment convivial à l’issue de la célébration !
         </p>
     </section>
     {# <section class="container bg-light mt-3 ltr">
         <p>
             Le diocèse de Meaux offrira un verre après la messe d’ordination, dans la cours du palais épiscopal.
         </p>
         <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/verre-de-lamitie_103907?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.9592/2.8781"></iframe>
         <p class="text-right"><a href="https://framacarte.org/fr/map/verre-de-lamitie_103907" target="_blank">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
     </section>#}
     <section class="container bg-light mt-3 ltr">
         <h2>Réception organisée par la paroisse</h2>
         <p>
             La paroisse organise un apéritif dînatoire dans les salles paroissiales de l’<strong>église de Notre-Dame-de-Toute-Joie</strong>
             <strong>à partir de 19&nbsp;h&nbsp;30</strong>.
         </p>
         <p class="text-center">
             entrée <em>rue Pierre Curie 77120 Coulommiers</em>
         </p>

         <div class="bg-blue text-center p-4 mb-4">
             <p class="text-bold">
                 Pour le bon déroulement de ce temps festif, merci de prévenir de votre présence en envoyant un mail.
             </p>
             <p>
                 De même, si vous souhaitez nous aider pour préparer la nourriture, décorer la salle, installer les tables, …
             </p>
             <p>
                 <a href="mailto:ordination.gregoire@theo-net.org" class="btn" style="text-transform: none"><i class="fa fa-envelope"></i>ordination.gregoire@theo-net.org</a>
             </p>
         </div>

         <iframe width="100%" class="map" frameborder="0" allowfullscreen src="https://framacarte.org/fr/map/ordination-sacerdotale_120643?scaleControl=false&miniMap=true&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false#16/48.8180/3.0900"></iframe>
         <p class="text-right"><a href="https://framacarte.org/fr/map/ordination-sacerdotale_120643">{{ 'fullscreen'|trans({}, 'base') }}</a></p>
     </section>
 </main>
{% endblock %}