{% extends 'base.html.twig' %}
{% block title %}{{ 'History'|trans({}, 'base') }}{% endblock %}

{% block body %}
    <main>
        <header id="main-header" class="hero">
            <h1>{{ 'History'|trans({}, 'base') }}</h1>
        </header>

        <section id="youtube">
            <iframe
                    width="100%" height="56.25%"
                    src="https://www.youtube-nocookie.com/embed/CIjV5G8gTiw?iv_load_policy=3&rel=0&showinfo=0"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                    allowfullscreen>
            </iframe>
        </section>

        <section class="container bg-light">
            {% if app.request.getLocale() == 'he' %}
            <article>
                <p class="text-center text-big bg-orange white">
                    <strong>{{ 'no-translated'|trans({}, 'base') }}</strong>
                </p>
            </article>
            {% endif %}

            {% if app.request.getLocale() == 'fr' %}
                {% include 'home/_story-fr.html.twig' %}
            {% elseif app.request.getLocale() == 'en' %}
                {% include 'home/_story-en.html.twig' %}
            {% else %}
                <div class="ltr">
                    {% include 'home/_story-en.html.twig' %}
                </div>
            {% endif %}

            <article class="mt-2">
                <img src="/images/appel.jpg" alt="Les ordinands avec l'évêque">
                <p class="text-center">
                    <em>François-Olivier – Mgr Nahmias – Grégoire – Vianney</em>
                </p>
            </article>
        </section>
    </main>
{% endblock %}