.countdown {
  margin: 2rem 1rem;
  background: rgb(131,58,180);
  background: linear-gradient(150deg, #724023 0%, #a97a4e 50%, #dba562 100%);
  padding: 1rem 1rem;
  border: $white solid 1px;
  border-radius: .125rem;
  color: white;

  h2 {
    color: white;
  }

  .countdown-number {
    text-align: center;
    font-size: 5rem;
  }

  .countdown-number-label {
    font-size: 2rem;
  }


  @media (min-width: $medium) {
    margin: 2rem 5rem
  }

  @media (min-width: $large) {
    width: 50vw;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
  }

  @media (min-width: $extra-large) {
    .countdown-number {
      font-size: 10rem;
    }
  }
}