.btn {
    padding: 1rem 2.5rem;
    border: $white solid 1px;
    border-radius: .125rem;
    color: white;
    font-family: $font-family-headings;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

    & > i {
        margin-right: 1em;
    }

    &:hover {
        background-color: $white;
        color: #14405e;
        text-decoration: none;
    }
}

.rtl .btn > i {
    margin-left: 1em;
    margin-right: 0;
}