.gifts-list {
  article {
    background-color: $white;
    padding: 2rem;

    img {
      max-width: 100%;
      margin: auto;
    }
  }

  .gift-price {
    font-family: $font-family-headings;
    text-align: center;
  }
}