body {
    background-color: $color-main-background;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: $small) {
    .container {
        max-width: 576px;
    }
}
@media (min-width: $medium) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: $large) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: $extra-large) {
    .container {
        max-width: 1192px;
    }
}

#main-navbar li > a {
    width: 100%;
}

#footer-navbar {
    margin-top: 2rem;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-evenly;
        background: none;
        width: auto;

        & > li {
            display: inline-block;

            a {
                width: auto;
            }
        }
    }
}

#main-navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: .5rem;
    z-index: 1000;

    & > button {
        float: right;
    }

    & > ul {
        display: none;
        width: 100%;
        padding: 1em;
        text-align: center;
        background-color: $color-main-background;
    }

    &.is-opened {
        & > ul {
            display: block;
        }
        & > .burger-button > ::before, & > .burger-button > ::after {
            background: $white;
        }
    }

    #select-lang-menu > ul {
        display: none;
        width: 75%;
        margin: auto;
    }

    #select-lang-menu.is-opened > ul {
        display: block;
    }

    @media (min-width: $extra-large) {
        position: static;
        margin-bottom: -8rem;

        & > button {
            display : none;
        }
        
        & > ul {
            display: flex;
            justify-content: space-between;
            background: none;
            max-width: 1400px;
            width: auto;

            & > li {
                display: inline-block;

                a {
                    width: auto;
                }
            }
        }

        #select-lang-menu > ul {
            position: absolute;
            top: 4em;
            text-align: left;

            & > li {
                margin-top: 0.5em;

                & > a.btn {
                    background-color: #14405e;

                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
    }
}

.rtl #main-navbar > button {
    float: left;
}

.rtl #main-navbar #select-lang-menu > ul {
    @media (min-width: $extra-large) {
        left: 10rem;
    }
}

#main-header {
    padding-top: 4.3rem;
    padding-bottom: 2rem;
    background: linear-gradient(90deg,#14405e,#396385,#6289ab,#92a8af);
    color: $white;
    text-align: right;
    font-family: $font-family-cinzel;
    font-weight: bold;

    h1 {
        color: $white;
        font-size: 1.8em;
        text-align: center;
        font-family: $font-family-cinzel;
    }

    @media (min-width: $large) {
        margin-top: -2rem;
        padding-top: 8rem;

        h1 {
            font-size: 2.5em;
        }
    }
}

#img-ordination {
    min-height: 60vh;
    background-image: url("../images/imageOrdinationSacerdotale.jpg");
    background-size: 133% auto;
    background-repeat: no-repeat;
    background-position: left 50% top 60%;

    & > img {
        display: none;
    }

    & > legend {
        position: relative;
        top: 45vh;
        margin: auto;
        border-radius: .125rem;
        padding: .5em;
        background-color: rgba(0, 0, 0, 0.90);
        font-family: $font-family-headings;
        color: $white;

        &.is-masked {
            display: none;
        }
    }

    @media (max-width: $medium) {
        & > legend {
            top: 40vh;
        }
    }
}

@media (min-width: $small) {
    #img-ordination {
        background-position: left 50% top 35%;
    }
}
@media (min-width: $medium) {
    #img-ordination {
        background-position: left 50% top 30%;
    }
}
@media (min-width: $large) {
    #img-ordination {
        background-position: left 50% top 30%;
    }
}

#image-explanation {
    position: relative;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: $white;
    text-align: center;

    & > img {
        width: 90%;
        margin-bottom: 2em;
    }

    &.is-opened {
        display: block;
    }
}

#youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-light {
    background: $color-gray-1;
}
.bg-orange {
    background: #f4a502;
    h2, h3 {
        color: white;
    }
}
.bg-blue {
    background: #14405e;
    color: white;
    h2, h3 {
        color: white;
    }
}
h3.bg-orange {
    color: white;
}
.bg-success {
    background: #669057;
    color: white;
    h3 {
        color: white;
    }
}
.bg-error {
    background: #e22828;
    h3 {
        color: white;
    }
}

.container.bg-light {
    padding: 2rem;
}

#form-newsletter {
    @media (min-width: $large) {
        max-width: 90%;
        margin: auto;
    }
}

#prayer {
    min-height: 40vh;
    background-image: url("../images/stDenisSteFoy.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 25%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .container {
        background-color: rgba(255, 255, 255, 0.80);
    }
}

#photos, #diaconal_link {
    display: flex;
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 10%;

    article {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 2rem;
        margin: auto;
    }
}

#photos {
    background-image: url("../images/photos.jpg");
}

#diaconal_link {
    background-image: url("../images/deacon.jpg");
}

#nomination {
    display: flex;
    min-height: 30vh;
    background-image: url("../images/nomination.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 10%;

    article {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 2rem;
        margin: auto;
        color: $white;

        h2 {
            color: $white;
        }
    }
}

#youtube-link {
    display: flex;
    min-height: 30vh;
    background-image: url("../images/Meaux.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 25%;

    i.logo {
        font-size: 10rem;
        color: #ff0000;
    }

    article {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 2rem;
        margin: auto;
        color: $white;
    }
}