@import "knacss";
@import "layout";
@import "typo";
@import "button";
@import "form";
@import "gifts";
@import "masses";
@import "components/countdown";

.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}

.relative {
    position: relative;
}

.map {
    height: 400px;
}