h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    color: #9d5733;
}

p strong {
    font-weight: bold;
    font-family: $font-family-headings;
}

.smalcaps {
    font-variant: small-caps;
}

.text-big {
    font-size: 1.17em;
}

.bg-orange.white {
    color: $white;
}

.text-bold {
    font-family: $font-family-headings;
}