<section class="container mt-4 p-4 bg-orange ltr">
    <h2>{{ 'build.title'|trans({}, 'base') }}</h2>
    <p>
        {{ 'build.message'|trans({}, 'base') }}
    </p>
</section>
<section class="container mt-4 p-4 bg-success text-center">
    <p>{{ 'build.diaconal'|trans({}, 'base') }}</p>
    <p>
        <a href="{{ diaconal_link }}" class="btn">
            <i class="fa fa-external-link-alt"></i> {{ 'Diaconal link'|trans({}, 'base') }}
        </a>
    </p>
</section>