{% if youtube_id != 'null' %}
<section id="youtube">
    <iframe
            width="100%" height="56.25%"
            src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}?iv_load_policy=3&rel=0&showinfo=0"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
            allowfullscreen>
    </iframe>
</section>
{% else %}
<section id="youtube-link">
    <article class="container text-center">
        <p class="text-big text-bold">
            {{ 'intro'|trans({}, 'youtube') }}
        </p>
        <p>
            <a href="https://www.youtube.com/user/newsletter77adm/videos" target="_blank">
                <i class="fab fa-youtube logo"></i>
            </a>
        </p>
        <p>
            <a href="https://www.youtube.com/user/newsletter77adm/videos" target="_blank" class="btn">
                {{ 'link'|trans({}, 'youtube') }}
            </a>
        </p>
    </article>
</section>
{% endif %}