{% trans_default_domain 'base' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="l-maxed {% if app.request.getLocale() == 'he' %}rtl{% endif %}">
        <nav id="main-navbar">
            <button class="burger-button" type="button" role="button" aria-label="Afficher / fermer la navigation"><span>{{ 'Menu'|trans }}</span> <i></i></button>
            <ul class="container">
                <li><a href="{{ path('home') }}" class="btn"><i class="fa fa-home"></i> {{ 'Accueil'|trans }}</a></li>
                <li><a href="{{ path('story') }}" class="btn"><i class="fa fa-newspaper"></i> {{ 'History'|trans }}</a></li>
                <li><a href="{{ path('ordination') }}" class="btn"><i class="fa fa-church"></i> {{ 'ordination'|trans }}</a></li>
                <li><a href="{{ path('reception') }}" class="btn"><i class="fa fa-glass-martini-alt"></i> {{ 'reception'|trans }}</a></li>
                <li><a href="{{ path('first-masses') }}" class="btn"><i class="fa fa-sun"></i> {{ 'First masses'|trans }}</a></li>
                <li><a href="{{ path('gifts') }}" class="btn"><i class="fa fa-gift"></i> {{ 'Gifts'|trans }}</a></li>
                <li id="select-lang-menu">
                    <a href="{{ path('language', {locale: app.request.getLocale()}) }}" class="btn"><i class="fa fa-globe"></i> {{ ('locale.'~app.request.getLocale())|trans }} <i id="lang-arrow" class="fa ml-2 fa-arrow-down"></i></a>
                    <ul>
                        {% for locale in ['fr', 'en', 'he'] %}
                            {% if locale != app.request.getLocale() %}
                                <li><a href="{{ path('language', {locale: locale}) }}" class="btn">{{ ('locale.'~locale)|trans }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

        <nav id="footer-navbar" class="mb-5">
            <ul class="container">
                <li><a href="{{ path('legals') }}" class="btn">{{ 'Mentions légales'|trans }}</a></li>
                <li><a href="mailto:ordination.gregoire@theo-net.org" class="btn"><i class="fa fa-envelope"></i>
                    {{ 'Contact'|trans }}</a></li>
            </ul>
        </nav>
    </body>
</html>
