{% trans_default_domain 'base' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services en maintenance</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="l-maxed ">
    <main>
        <header id="main-header" class="hero">
            <h1>Services en maintenance</h1>
        </header>

        {% if diaconal_link != 'null' %}
            <nav class="text-center p-4 bg-success">
                <a href="{{ diaconal_link }}" class="btn">
                    <i class="fa fa-external-link-alt"></i> {{ 'Diaconal link'|trans({}) }}
                </a>
            </nav>
        {% endif %}



        <section class="container bg-light">
            <article>
                <h2>Le site est en cours de maintenance</h2>
                <h2>The site is under maintenance</h2>
            </article>
            <article>
                {{ message|raw }}
            </article>
        </section>
    </main>
</body>
</html>
